# ----------------------------------------------------------------------------
# ignore all 
# ----------------------------------------------------------------------------

*
!.gitignore

# ----------------------------------------------------------------------------
# explictly include
# ----------------------------------------------------------------------------


